AWS_REGION=af-south-1
S3_BUCKET=cct-ds-code-challenge-input-data

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

HEX_RES8_KEY=city-hex-polygons-8.geojson
HEX_RES8_10_KEY=city-hex-polygons-8-10.geojson
SR_KEY=sr.csv.gz
SR_HEX_KEY=sr_hex.csv.gz

OUTPUT_DIR=outputs
LOG_DIR=logs
LOG_LEVEL=INFO
