# developing on a mac :/
.DS_Store   

__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/
env/
coct-challenge  

# dark secrets
.env
.env.*
!.env.example

# scripts for inspecting schema, not part of the main code
/src/inspect_*.py  

# not pushing the logs/outputs
logs/*             
outputs/*          